* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
    font-family: "Montserrat", serif;
}

/* Estilo do corpo da página */
body, html {
    height: 100vh;
    width: 100vw;
    overflow: hidden; /* Evita barras de rolagem */
}

main {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 100%;
}

.icons {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

#top-bar_text {
    font-size: 20px;
    color: white;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/* Barra superior fixa */
.top-bar {
    position: fixed;
    top: 5px;
    margin: 0 2.5vw 0 2.5vw;
    width: 95%;
    height: 50px;
    background-color: #44A780;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px;  /* Padding lateral para o conteúdo da barra */
    z-index: 1000; /* Garante que a barra fique acima de outros elementos */
}

#localizar {
    background-color: #c1402c;
    cursor: pointer;
    z-index: 1000;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 2.5%;
    padding: 16px;
    gap: 8px;
    height: 50px;
}

#localizar:hover {
    background-color: #ff5a3c;
}

.text {
    color: white;
    font-size: 16px;
}